$blue:#071C4D;

body{
    background-color: rgb(209, 192, 192);
    font-family: 'Assistant', sans-serif;
    color: $blue;
}

// navbar
.navbar-brand{
    img{
        max-height: 40px;
    }
}

.navbar-light{
    .navbar-nav{
        .nav-link{
            color: $blue;

            &.active{
                font-weight: bold;
                color: $blue !important;
            }
        }
    }
}

// navabr
.btn-login{
    background-color: #071C4D;
    color: #fff;
    
    &:hover{
        background-color: #0D3288;
        color: #fff;
    }
}

.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

