$blue:#071C4D;
$assistant: 'Assistant', sans-serif;
$play:'Playfair Display',serif;

body{
    background-color: rgb(209, 192, 192);
    font-family: 'Assistant', sans-serif;
    color: $blue;
}

// navbar
.navbar-brand{
    img{
        max-height: 40px;
    }
}

.navbar-light{
    .navbar-nav{
        .nav-link{
            color: $blue;

            &.active{
                font-weight: bold;
                color: $blue !important;
            }
        }
    }
}

// navbar


.btn-login{
    background-color: #071C4D;
    color: #fff;
    
    &:hover{
        background-color: #0D3288;
        color: #fff;
    }
}

.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

header{
    padding:180px 0px 165px ;
    background-image: url('../img/header.jpg');
    background-size: cover;
    margin-top: -70px;
    color: #fff;

    h1{
        font-family: $play;
    }
    p{
        font-family: $assistant;
    }

    .btn-get-started{
        background-color:#ee6700;
        color: #fff;

        &:hover{
            color: #fff;
            background-color: #ff8121;
        }
    }
}

